<div>
    <form novalidate name="frmUpdate" role="form" ng-submit="UpdateProfile()"> 
        <div class="register-top-grid">
            <h3>Đổi mật khẩu</h3>
            <div>
                <span>Mật khẩu hiện tại<label>*</label></span>
                <input type="password" name="current_password" ng-model="post.current_password" required> 
                <span ng-show="frmEdit.current_password.$invalid" class="text-danger">Bạn chưa nhập mật khẩu hiện tại</span>
            </div>
            <div>
                <span>Mật khẩu mới<label>*</label></span>
                <input type="password" name="password" ng-model="post.password" required> 
                <span ng-show="frmEdit.password.$invalid" class="text-danger">Bạn chưa nhập mật khẩu mới</span>
            </div>
            <div>
                <span>Nhập lại mật khẩu mới<label>*</label></span>
                <input type="password" name="password_confirmation" ng-model="post.password_confirmation" required>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <input type="submit" value="Đổi mật khẩu">
    </form>
</div>