<div>
    <form novalidate name="frmEdit" role="form" ng-submit="EditProduct()"> 
        <div class="register-top-grid">
            <h3>Thông tin sản phẩm</h3>
            <div>
                <span>Tên sản phẩm<label>*</label></span>
                <input type="text" name="name" ng-model="post.name" required> 
                <span ng-show="frmEdit.name.$invalid" class="text-danger">Bạn chưa nhập tên</span>
            </div>
            <div>
                <span>Số điện thoại<label>*</label></span>
                <input type="number" name="phone" ng-model="post.phone" required> 
                <span ng-show="frmEdit.phone.$invalid" class="text-danger">Bạn chưa nhập số điện thoại</span>
            </div>
            <div>
                <span>Số lượng<label>*</label></span>
                <input type="number" name="quantity" ng-model="post.quantity" required> 
                <span ng-show="frmEdit.quantity.$invalid" class="text-danger">Bạn chưa nhập số lượng</span>
            </div>
            <div>
                <span>Giá tiền<label>*</label></span>
                <input type="number" name="price" ng-model="post.price" required> 
                <span ng-show="frmEdit.price.$invalid" class="text-danger">Bạn chưa nhập số tiền</span>
            </div>
            <div>
                <span>Facebook</span>
                <input type="text" name="facebook" ng-model="post.facebook"> 
            </div>
            <div>
                <span>Giới thiệu sản phẩm</span>
                <textarea ckeditor="ckeditorOptions" ng-model="post.content"></textarea>
            </div>
            <div>
                <span>Danh mục sản phẩm<label>*</label></span>
                <select name="id_category"  class="chosen-select form-control" ng-model="post.id_category" ng-options="option.id as option.name for option in listCategories" data-placeholder="Chọn">
					<option value="">Chọn danh mục</option>
				</select>
                <input type="hidden" name="id_category" ng-model="post.id_category">
            </div>
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <button ng-disabled="!frmEdit.$valid" ng-click="update()">Sửa sản phẩm</button>
    </form>
</div>